.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 332px;
  width: 540px;
  background: hsl(217, 19%, 24%);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
  flex-direction: column;
}

.image {
  padding-top: 20px;
  margin-left: 170px;
}
